In [3]:
import pandas as pd
df = pd.read_csv('adult.csv')
df

,age,workclass,education,marital-status,occupation,race,gender,hours-per-week,income
0,20-30,Private,11th,Never-married,Machine-op-inspct,Black,0,20-40,<=50K
1,30-40,Private,HS-grad,Married-civ-spouse,Farming-fishing,White,0,40-60,<=50K
2,20-30,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,White,0,20-40,>50K
3,40-50,Private,Some-college,Married-civ-spouse,Machine-op-inspct,Black,0,20-40,>50K
4,30-40,Private,10th,Never-married,Other-service,White,0,20-40,<=50K
...,...,...,...,...,...,...,...,...,...
46028,20-30,Private,Assoc-acdm,Married-civ-spouse,Tech-support,White,1,20-40,<=50K
46029,30-40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,0,20-40,>50K
46030,50-60,Private,HS-grad,Widowed,Adm-clerical,White,1,20-40,<=50K
46031,20-30,Private,HS-grad,Never-married,Adm-clerical,White,0,0-20,<=50K
46032,50-60,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,White,1,20-40,>50K

In [16]:
list(df.columns.values)
cols = list(df)
df.describe()

,age,workclass,education,marital-status,occupation,race,gender,hours-per-week,income
count,46033,46033,46033,46033,46033,46033,46033,46033,46033
unique,8,7,16,7,14,5,2,5,2
top,30-40,Private,HS-grad,Married-civ-spouse,Prof-specialty,White,0,20-40,<=50K
freq,12538,33906,14972,21451,6172,39444,31114,28350,34611

In [27]:
df[cols[8]].unique()

array(['<=50K', '>50K'], dtype=object)

In [4]:
df = df.astype(str)
data = df.values.tolist()

In [5]:
from apyori import apriori

#建立rule, 設定參數
#變成list
rules = list(apriori(data, min_support= 0.2, min_confidence= 0.9))
rules

[RelationRecord(items=frozenset({'20-30', '<=50K'}), support=0.22837964069254665, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20-30'}), items_add=frozenset({'<=50K'}), confidence=0.9152084965613302, lift=1.2172370842277807)]),
 RelationRecord(items=frozenset({'White', '40-60'}), support=0.2469098255599244, ordered_statistics=[OrderedStatistic(items_base=frozenset({'40-60'}), items_add=frozenset({'White'}), confidence=0.9163911956784649, lift=1.0694715523442546)]),
 RelationRecord(items=frozenset({'Never-married', '<=50K'}), support=0.3074533486846393, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9514621848739496, lift=1.2654548772443017)]),
 RelationRecord(items=frozenset({'White', '>50K'}), support=0.22520800295440227, ordered_statistics=[OrderedStatistic(items_base=frozenset({'>50K'}), items_add=frozenset({'White'}), confidence=0.90763438977412, lift=1.0592519486987138)]),
 RelationRecord(items=frozenset({'White', '40-60', '0'}), support=0.20394065127191363, ordered_statistics=[OrderedStatistic(items_base=frozenset({'40-60', '0'}), items_add=frozenset({'White'}), confidence=0.9274846868207864, lift=1.0824181773760588)]),
 RelationRecord(items=frozenset({'White', 'Married-civ-spouse', '0'}), support=0.376794908000782, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Married-civ-spouse', '0'}), items_add=frozenset({'White'}), confidence=0.9041859980190793, lift=1.0552275136094786), OrderedStatistic(items_base=frozenset({'White', 'Married-civ-spouse'}), items_add=frozenset({'0'}), confidence=0.9020229861147225, lift=1.334538282439385)]),
 RelationRecord(items=frozenset({'20-40', '1', '<=50K'}), support=0.20383203354115526, ordered_statistics=[OrderedStatistic(items_base=frozenset({'20-40', '1'}), items_add=frozenset({'<=50K'}), confidence=0.9016046891515327, lift=1.1991438749447432)]),
 RelationRecord(items=frozenset({'Private', '1', '<=50K'}), support=0.22818412877718158, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Private', '1'}), items_add=frozenset({'<=50K'}), confidence=0.9055953099405122, lift=1.2044514432547917)]),
 RelationRecord(items=frozenset({'Never-married', '20-40', '<=50K'}), support=0.20350618034888016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Never-married', '20-40'}), items_add=frozenset({'<=50K'}), confidence=0.9688695832040543, lift=1.2886069031126588)]),
 RelationRecord(items=frozenset({'Private', 'Never-married', '<=50K'}), support=0.2553602850129255, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Private', 'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9601404884423753, lift=1.2769971137634817)]),
 RelationRecord(items=frozenset({'White', 'Never-married', '<=50K'}), support=0.25177589989789934, ordered_statistics=[OrderedStatistic(items_base=frozenset({'White', 'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9478246647039581, lift=1.2606169365322384)]),
 RelationRecord(items=frozenset({'White', 'Married-civ-spouse', '0', '<=50K'}), support=0.20372341581039688, ordered_statistics=[OrderedStatistic(items_base=frozenset({'White', 'Married-civ-spouse', '<=50K'}), items_add=frozenset({'0'}), confidence=0.9067001836991202, lift=1.341458171762602)]),
 RelationRecord(items=frozenset({'White', 'Married-civ-spouse', '0', 'Private'}), support=0.2525362240132079, ordered_statistics=[OrderedStatistic(items_base=frozenset({'Married-civ-spouse', '0', 'Private'}), items_add=frozenset({'White'}), confidence=0.902702282963193, lift=1.053495948474918)]),
 RelationRecord(items=frozenset({'White', 'Private', 'Never-married', '<=50K'}), support=0.2107618447635392, ordered_statistics=[OrderedStatistic(items_base=frozenset({'White', 'Private', 'Never-married'}), items_add=frozenset({'<=50K'}), confidence=0.9573712255772647, lift=1.2733139645487916)])]

In [6]:
result = pd.DataFrame()
for item in rules:
    series = pd.Series({"Rule":item[0],"Support":item[1],"Confidence":item[2][0][2]})
    result = result.append(series, ignore_index=True)

In [7]:
result.sort_values(by= ['Confidence'], ascending=False)

    Confidence                                     Rule   Support
8     0.968870            (Never-married, 20-40, <=50K)  0.203506
9     0.960140          (Private, Never-married, <=50K)  0.255360
13    0.957371   (White, Private, Never-married, <=50K)  0.210762
2     0.951462                   (Never-married, <=50K)  0.307453
10    0.947825            (White, Never-married, <=50K)  0.251776
4     0.927485                        (White, 40-60, 0)  0.203941
1     0.916391                           (White, 40-60)  0.246910
0     0.915208                           (20-30, <=50K)  0.228380
3     0.907634                            (White, >50K)  0.225208
11    0.906700    (White, Married-civ-spouse, 0, <=50K)  0.203723
7     0.905595                      (Private, 1, <=50K)  0.228184
5     0.904186           (White, Married-civ-spouse, 0)  0.376795
12    0.902702  (White, Married-civ-spouse, 0, Private)  0.252536
6     0.901605                        (20-40, 1, <=50K)  0.203832